# This is a basic workflow to help you get started with Actions

name: Publish to Gitbook to Github Pages

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:    
      - master
  pull_request:
    branches:    
      - master

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build Gitbook
    runs-on: ubuntu-latest
    steps:
      # Cancel previous runs
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.4.1
        with:
          access_token: ${{ github.token }} 
      # Check out the repo first
      - name: Checkout code
        uses: actions/checkout@v2
      # Run this action to publish gitbook
      - name: Publish
        #docs https://zanderzhao.github.io/gitbook-action/#faq
        uses: zanderzhao/gitbook-action@v1.2.4
        with:
          # specify either github_token or personal_token
          token: ${{ secrets.GITHUB_TOKEN }}
          # personal_token: ${{ secrets.PERSONAL_TOKEN }}
          gitbook_pdf: true
          gitbook_pdf_name: ${{ github.event.repository.name }}
          gitbook_pdf_dir: 'exports'
          gitbook_epub: true
          gitbook_epub_name: ${{ github.event.repository.name }}
          gitbook_epub_dir: 'exports'
          gitbook_mobi: true
          gitbook_mobi_name: ${{ github.event.repository.name }}
          gitbook_mobi_dir: 'exports'
